.uma-project-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .go-back {
        margin: 12px 12px 0 12px;
        display: flex;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .uma-project-page {
        margin : 12px;
        flex-grow: 1;

        .uma-project-header {
            font-weight: bold;
            font-size: 16px;
        }

        .uma-project-form {
            margin: 12px 0 12px 0;

            .card-type {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 12px;

                .stat-card {
                    margin: 0 4px 0 4px;

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        filter: grayscale(100%);
                    }
                }
            }
            .uma-bonuses-container {
                .uma-bonuses-header {
                    .bonus-header-msg {
                        font-weight: bold;
                    }

                    .bonus-header-helper-note {
                        font-style: italic;
                    }
                }

                .uma-bonuses {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    margin: 8px;

                    label, input {
                        margin-left: 4px;
                    }

                    input {
                        width: 80px;
                    }
                }
            }

            .stats-container {
                .stats-container-header {
                    font-weight: bold;
                }

                .stats-target {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    margin: 8px;

                    label, input {
                        margin-left: 4px;
                    }

                    input {
                        margin-left: 4px;
                        width: 80px;
                    }
                }
            }

            .dropdown-menu {
                margin: 12px;
            }

            .card-filters-container {
                margin: 8px auto 8px auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 600px;

                .ssr-filter-header, .sr-filter-header, .r-filter-header {
                    font-weight: bold;
                }

                .checkbox-container {
                    display: flex;
                    justify-content: center;

                    .lb {
                        color: aqua;
                    }

                    .non-lb {
                        color: gray;
                    }
                }
            }
        }

        .uma-cards-container {
            border: 1px black solid;
            border-radius: 4px;
            background: #E4EBF7;
            min-height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;


            .selected-deck-container {
                width: 100%;
                margin: 8px;
                border: 1px black solid;
                border-radius: 4px;
                min-height: 120px;
                max-width: 1200px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .selected-deck-header {
                    font-weight: bold;
                    align-self: center;
                }

                .selected-deck {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .selected-card-type-container {
            .selected-card-type-header {
                margin: 8px;
                font-weight: bold;
            }

            .selected-card-type {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}
.support-card {
    margin: 4px;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    .limit-break, .stat-type {
        position: absolute;
    }

    .limit-break {
        left: 8px;
        bottom: 8px;
        display: flex;
        flex-direction: row;

        .lb {
            color: aqua;
        }

        .non-lb {
            color: gray;
        }
        
    }

    .stat-type {
        top: 4px;
        right: 4px;
    }
}